{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<html>
  <head>
    <title>Events</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
      }

      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
      }

      .card {
        width: 300px;
        height: 400px;
        background-color: #fff;
        margin: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.3s ease;
      }

      .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      }

      .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }

      .card h2 {
        font-size: 24px;
        font-weight: bold;
        margin: 10px;
      }

      .card p {
        font-size: 16px;
        line-height: 1.5;
        margin: 10px;
      }

      .wedding {
        background-color: #ffe0e6;
      }

      .party {
        background-color: #b3e5fc;
      }

      .technical {
        background-color: #c8e6c9;
      }

      .college {
        background-color: #f0f4c3;
      }

      .birthday {
        background-color: #ffd54f;
      }


    </style>
  </head>
  <body>
  <div>

  </div>
<style>
  .card-rating .fa-star.checked {
    color: yellow;
  }
</style>
<div class="container">
  <div class="card">
  <img src="https://lh5.googleusercontent.com/p/AF1QipPwY73RxGlmy0ZlBqQSTAsNTpAfonLwnQyVXlHU=w426-h240-k-no" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Subhamasthu Convention Hall</h5>
    <div class="card-rating">
      ⭐⭐⭐⭐
    </div>
<br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1"> More

</button>
  </div>
</div>
  <div class="card">
  <img src="https://lh5.googleusercontent.com/p/AF1QipPiU_y64iTuS1AAJLp9mM9yyk7adeOrmyuhtepk=w419-h240-k-no" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">DD Function Hall</h5>
    <div class="card-rating">
      ⭐⭐
    </div>
<br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"> More

</button>
  </div>
</div>
  <div class="card">
  <img src="https://lh5.googleusercontent.com/p/AF1QipOfJTdp3fLgYUyAts5NdvYm4jLoicF5l91M9XG_=w408-h272-k-no" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">devathi bhagavan narayana function hall</h5>
    <div class="card-rating">
      ⭐⭐⭐⭐
    </div>
<br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3"> More

</button>
  </div>
</div>
  <div class="card">
  <img src="https://lh5.googleusercontent.com/p/AF1QipNRghZGSxfpNnB8UYjA_98Tpc6H8sWueibD2DSZ=w408-h306-k-no" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">
CK Conventions</h5>
    <div class="card-rating">
      ⭐⭐⭐⭐⭐
    </div>
<br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4"> More

</button>
  </div>
</div>
  <div class="card">
  <img src="https://lh5.googleusercontent.com/p/AF1QipMLeqlqNLLtOAr7O80xwHxxhlZmxvjNTlhtfUwU=w408-h306-k-no" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Vedika Function Hall</h5>
    <div class="card-rating">
      ⭐⭐⭐⭐
    </div>
<br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5"> More

</button>
  </div>
</div>
  <div class="card">
  <img src="https://lh5.googleusercontent.com/p/AF1QipOY_uW4ave5EqPv0Ga35oKvfzmkTYh9_DsJTPUB=w427-h240-k-no" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nalluru Vari Kalyanamandapam</h5>
    <div class="card-rating">
      ⭐⭐⭐⭐
    </div>
<br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6"> More

</button>
  </div>
</div>
  <div class="card">
  <img src="https://lh5.googleusercontent.com/p/AF1QipPQd-VKxPTuZUhEl7vmgCoZ6IGQEo9GT7Icw-nC=w408-h306-k-no" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">CVR Function Hall</h5>
    <div class="card-rating">
      ⭐⭐⭐
    </div>
<br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7"> More

</button>
  </div>
</div>
  <div class="card">
  <img src="https://lh5.googleusercontent.com/p/AF1QipOMZ5V4v6W57YDCQ5x_8Ss2P-cEOckC2U9iUgEd=w408-h272-k-no" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">YARLAGADDA GRANDUER</h5>
    <div class="card-rating">
      ⭐⭐⭐⭐⭐
    </div>
<br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8"> More

</button>
  </div>
</div>
  <div class="card">
  <img src="https://lh5.googleusercontent.com/p/AF1QipNtRZrj7g3ur5SaeYB5KF8w0GxK6Zmd5fgq3I8P=w516-h240-k-no" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Maruti Function Hall. మారుతీ ఫంక్షన్ హల్</h5>
    <div class="card-rating">
      ⭐⭐⭐⭐
    </div>
<br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal9"> More

</button>
  </div>
</div>


  </div>
<!-- Button trigger modal -->


<!-- Modal1 -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">SVS Mandapam - For All Functions And Parties In Vijayawada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        Shore View SVS Founded in 1985, is the second largest AC function hall in Vijayawada. It is located just off of Benz Circle, right in the heart of the city, which makes it easily accessible from any point. Featuring a striking contemporary design and leading technology, this party hall in Vijayawada is a beacon of entertainment. It’s an acknowledged fact that SVS is one of the premier function halls in Vijayawada and we have developed a reputation for our impeccable service. Be it a get together, marriage function, birthday party or any other functions, SVS will be the best choice party hall in Vijayawada.

Air-conditioned function hall.
1200 seating capacity.
Reasonably priced.
Rates for events, including weddings functions, starting at just Rs.80,000/-only.
For Bookings and enquires: +91 866 2470568 | 94907 54715 (Mr Sivaram)
         <h1> Location </h1>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d244903.99539274702!2d80.5560789!3d16.4438646!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35f1bb0fef70fb%3A0xbc687900fcdffd9b!2sSubhamasthu%20Convention%20Hall!5e0!3m2!1sen!2sin!4v1683433073243!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button><a href="/weddingevent" class="btn btn-outline-danger">book </a></button>
      </div>
    </div>
  </div>
</div>
<!-- Modal2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">SVS Mandapam - For All Functions And Parties In Vijayawada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        Shore View SVS Founded in 1985, is the second largest AC function hall in Vijayawada. It is located just off of Benz Circle, right in the heart of the city, which makes it easily accessible from any point. Featuring a striking contemporary design and leading technology, this party hall in Vijayawada is a beacon of entertainment. It’s an acknowledged fact that SVS is one of the premier function halls in Vijayawada and we have developed a reputation for our impeccable service. Be it a get together, marriage function, birthday party or any other functions, SVS will be the best choice party hall in Vijayawada.

Air-conditioned function hall.
1200 seating capacity.
Reasonably priced.
Rates for events, including weddings functions, starting at just Rs.80,000/-only.
For Bookings and enquires: +91 866 2470568 | 94907 54715 (Mr Sivaram)
         <h1> Location </h1>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61217.92636167113!2d80.57983477910157!3d16.4694402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35f191551a5319%3A0x4c86a6d1da8f115a!2sDD%20Function%20Hall!5e0!3m2!1sen!2sin!4v1683433101999!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal3 -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">SVS Mandapam - For All Functions And Parties In Vijayawada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        Shore View SVS Founded in 1985, is the second largest AC function hall in Vijayawada. It is located just off of Benz Circle, right in the heart of the city, which makes it easily accessible from any point. Featuring a striking contemporary design and leading technology, this party hall in Vijayawada is a beacon of entertainment. It’s an acknowledged fact that SVS is one of the premier function halls in Vijayawada and we have developed a reputation for our impeccable service. Be it a get together, marriage function, birthday party or any other functions, SVS will be the best choice party hall in Vijayawada.

Air-conditioned function hall.
1200 seating capacity.
Reasonably priced.
Rates for events, including weddings functions, starting at just Rs.80,000/-only.
For Bookings and enquires: +91 866 2470568 | 94907 54715 (Mr Sivaram)
         <h1> Location </h1>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61223.95388411341!2d80.53606797910156!3d16.450347200000028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35f1121f9698e3%3A0xd9bee970e1e739e!2sdevathi%20bhagavan%20narayana%20function%20hall!5e0!3m2!1sen!2sin!4v1683433145069!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal4 -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">SVS Mandapam - For All Functions And Parties In Vijayawada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        Shore View SVS Founded in 1985, is the second largest AC function hall in Vijayawada. It is located just off of Benz Circle, right in the heart of the city, which makes it easily accessible from any point. Featuring a striking contemporary design and leading technology, this party hall in Vijayawada is a beacon of entertainment. It’s an acknowledged fact that SVS is one of the premier function halls in Vijayawada and we have developed a reputation for our impeccable service. Be it a get together, marriage function, birthday party or any other functions, SVS will be the best choice party hall in Vijayawada.

Air-conditioned function hall.
1200 seating capacity.
Reasonably priced.
Rates for events, including weddings functions, starting at just Rs.80,000/-only.
For Bookings and enquires: +91 866 2470568 | 94907 54715 (Mr Sivaram)
         <h1> Location </h1>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61225.998848186755!2d80.55607887910153!3d16.44386460000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35f0e0fe9d36db%3A0x4a145023ca9e2954!2sCK%20Conventions!5e0!3m2!1sen!2sin!4v1683433196450!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal5 -->
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel5">SVS Mandapam - For All Functions And Parties In Vijayawada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        Shore View SVS Founded in 1985, is the second largest AC function hall in Vijayawada. It is located just off of Benz Circle, right in the heart of the city, which makes it easily accessible from any point. Featuring a striking contemporary design and leading technology, this party hall in Vijayawada is a beacon of entertainment. It’s an acknowledged fact that SVS is one of the premier function halls in Vijayawada and we have developed a reputation for our impeccable service. Be it a get together, marriage function, birthday party or any other functions, SVS will be the best choice party hall in Vijayawada.

Air-conditioned function hall.
1200 seating capacity.
Reasonably priced.
Rates for events, including weddings functions, starting at just Rs.80,000/-only.
For Bookings and enquires: +91 866 2470568 | 94907 54715 (Mr Sivaram)
         <h1> Location </h1>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61219.26734949233!2d80.62864929999999!3d16.465194300000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35fab8bbda2201%3A0x7069ee2bec4ad8c1!2sVedika%20Function%20Hall!5e0!3m2!1sen!2sin!4v1683433240207!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal6 -->
<div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel6">SVS Mandapam - For All Functions And Parties In Vijayawada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        Shore View SVS Founded in 1985, is the second largest AC function hall in Vijayawada. It is located just off of Benz Circle, right in the heart of the city, which makes it easily accessible from any point. Featuring a striking contemporary design and leading technology, this party hall in Vijayawada is a beacon of entertainment. It’s an acknowledged fact that SVS is one of the premier function halls in Vijayawada and we have developed a reputation for our impeccable service. Be it a get together, marriage function, birthday party or any other functions, SVS will be the best choice party hall in Vijayawada.

Air-conditioned function hall.
1200 seating capacity.
Reasonably priced.
Rates for events, including weddings functions, starting at just Rs.80,000/-only.
For Bookings and enquires: +91 866 2470568 | 94907 54715 (Mr Sivaram)
         <h1> Location </h1>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61219.26734949233!2d80.62864929999999!3d16.465194300000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35fac1893cc279%3A0x2fe6f3c612bb120c!2sNalluru%20Vari%20Kalyanamandapam!5e0!3m2!1sen!2sin!4v1683433296616!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal7 -->
<div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel7">SVS Mandapam - For All Functions And Parties In Vijayawada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        Shore View SVS Founded in 1985, is the second largest AC function hall in Vijayawada. It is located just off of Benz Circle, right in the heart of the city, which makes it easily accessible from any point. Featuring a striking contemporary design and leading technology, this party hall in Vijayawada is a beacon of entertainment. It’s an acknowledged fact that SVS is one of the premier function halls in Vijayawada and we have developed a reputation for our impeccable service. Be it a get together, marriage function, birthday party or any other functions, SVS will be the best choice party hall in Vijayawada.

Air-conditioned function hall.
1200 seating capacity.
Reasonably priced.
Rates for events, including weddings functions, starting at just Rs.80,000/-only.
For Bookings and enquires: +91 866 2470568 | 94907 54715 (Mr Sivaram)
         <h1> Location </h1>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.619057174663!2d80.5909523!3d16.4948159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35f15e958ce2e1%3A0xd5035724404026d4!2sCVR%20Function%20Hall!5e0!3m2!1sen!2sin!4v1683433503839!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal8 -->
<div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel8">SVS Mandapam - For All Functions And Parties In Vijayawada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        Shore View SVS Founded in 1985, is the second largest AC function hall in Vijayawada. It is located just off of Benz Circle, right in the heart of the city, which makes it easily accessible from any point. Featuring a striking contemporary design and leading technology, this party hall in Vijayawada is a beacon of entertainment. It’s an acknowledged fact that SVS is one of the premier function halls in Vijayawada and we have developed a reputation for our impeccable service. Be it a get together, marriage function, birthday party or any other functions, SVS will be the best choice party hall in Vijayawada.

Air-conditioned function hall.
1200 seating capacity.
Reasonably priced.
Rates for events, including weddings functions, starting at just Rs.80,000/-only.
For Bookings and enquires: +91 866 2470568 | 94907 54715 (Mr Sivaram)
         <h1> Location </h1>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61219.26734949233!2d80.62864929999999!3d16.465194300000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35fb1ea9207801%3A0x9c0edb9e706e200b!2sYARLAGADDA%20GRANDUER!5e0!3m2!1sen!2sin!4v1683433370642!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal9 -->
<div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel9">SVS Mandapam - For All Functions And Parties In Vijayawada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        Shore View SVS Founded in 1985, is the second largest AC function hall in Vijayawada. It is located just off of Benz Circle, right in the heart of the city, which makes it easily accessible from any point. Featuring a striking contemporary design and leading technology, this party hall in Vijayawada is a beacon of entertainment. It’s an acknowledged fact that SVS is one of the premier function halls in Vijayawada and we have developed a reputation for our impeccable service. Be it a get together, marriage function, birthday party or any other functions, SVS will be the best choice party hall in Vijayawada.

Air-conditioned function hall.
1200 seating capacity.
Reasonably priced.
Rates for events, including weddings functions, starting at just Rs.80,000/-only.
For Bookings and enquires: +91 866 2470568 | 94907 54715 (Mr Sivaram)
         <h1> Location </h1>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61203.450594847236!2d80.58657387910154!3d16.515206500000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35effcd5e519c3%3A0x49fcf75eae37c3ee!2zTWFydXRpIEZ1bmN0aW9uIEhhbGwuIOCwruCwvuCwsOCxgeCwpOCxgCDgsKvgsILgsJXgsY3gsLfgsKjgsY0g4LC54LCy4LGN!5e0!3m2!1sen!2sin!4v1683433415069!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>







{% endblock body %}


